## Data Transformation and TEI Score Formula Construction  
First we will transform the data using "normalization". The normalization methodology for this project can be debated, however, since this project's primary focus is not research accuracy, we'll skip this debate. 
- The data that we used:
  * Internet users (% of population)
  * R&D expenditure (% of GDP)
  * High-tech exports (% of manufactured exports)
  * GDP growth (annual %)
- To understand digital competitiveness and tech-economy-index, we will categorize the data we used:
  * KNOWLEDGE (ability to understand and build new techs), TECH (the environment that supports digital development), and FUTURE READINESS (how prepared the society and economy are for digital change) will be under one term that we will call "Technology": internet users, R&D exp, High-tech exports
  * ECONOMY: GDP growth
- Methodology and the data can also be debated, one may say that GDP growth might not be the best indicator for economic development, however we will skip this debate and develop the methodology part later on.

In [2]:
# run the 01_notebook and take the variables
%run 01_download_clean.ipynb
print(df.head())

             Country  Year  internet_users  rnd_expenditure  hightech_exports  \
0             Brazil  2010         40.6500          1.15992         12.590147
1             Brazil  2011         45.6900          1.13966         11.140908
2             Brazil  2012         48.5600          1.12684         11.887221
3             Brazil  2013         51.0400          1.19567         11.969862
4             Brazil  2014         54.5510          1.26971         12.371169
5             Brazil  2015         58.3280          1.37093         14.485900
6             Brazil  2016         60.8725          1.28637         16.000164
7             Brazil  2017         67.4713          1.11750         14.311889
8             Brazil  2018         70.4343          1.16769         14.744242
9             Brazil  2019         73.9124          1.21096         14.066805
10            Brazil  2020         81.3427          1.14526         11.350094
11            Brazil  2021         80.6899              NaN          9.001554
12            Brazil  2022         80.5278              NaN          9.111346
13            Brazil  2023         84.1506              NaN          9.849149
14             China  2010         34.3000          1.71372         32.150117
15             China  2011         38.3000          1.78034         30.500480
16             China  2012         42.3001          1.91214         30.861809
17             China  2013         45.8000          1.99786         31.585581
18             China  2014         47.9000          2.02243         29.703727
19             China  2015         50.3000          2.05701         30.431267
20             China  2016         53.2000          2.10033         30.254523
21             China  2017         54.3000          2.11603         30.911864
22             China  2018         59.2000          2.14058         31.548148
23             China  2019         64.0809          2.24463         30.818630
24             China  2020         70.0528          2.40666         31.276615
25             China  2021         73.0532          2.43260         30.219073
26             China  2022         75.6113          2.55518         27.765061
27             China  2023         90.6000              NaN         26.568214
28  Egypt, Arab Rep.  2010         21.6000          0.43345          0.953020
29  Egypt, Arab Rep.  2011         25.6000          0.53154          0.991984
30  Egypt, Arab Rep.  2012         26.4000          0.50899          0.616321
31  Egypt, Arab Rep.  2013         29.4000          0.63895          0.534838
32  Egypt, Arab Rep.  2014         33.8946          0.63649          1.252666
33  Egypt, Arab Rep.  2015         37.8194          0.71858          0.795058
34  Egypt, Arab Rep.  2016         41.2481          0.70848          0.504375
35  Egypt, Arab Rep.  2017         44.9502          0.64486          0.565233
36  Egypt, Arab Rep.  2018         46.9243          0.68839          0.862814
37  Egypt, Arab Rep.  2019         57.2829          0.79617          2.345266
38  Egypt, Arab Rep.  2020         71.9142          0.91564          2.554901
39  Egypt, Arab Rep.  2021         72.0560          0.91175          3.170819
40  Egypt, Arab Rep.  2022         72.1981          1.01968          3.402050
41  Egypt, Arab Rep.  2023         72.6899          1.03356          3.165783
42             India  2010          7.5000          0.78849          7.730160
43             India  2011         10.0700          0.75502          7.871173
44             India  2012         11.1000          0.74399          7.704394
45             India  2013         12.3000          0.70642          8.873504
46             India  2014         13.5000          0.70159          9.221222
47             India  2015         14.9000          0.69310          8.024769
48             India  2016         16.5000          0.66984          7.663257
49             India  2017         18.2000          0.66603          7.362081

    gdp_growth
0     7.528226
1     3.974423
2     1.921176
3     3.004823
4     0.503956
5    -3.545763
6    -3.275917
7     1.322869
8     1.783667
9     1.220778
10   -3.276759
11    4.762604
12    3.016694
13    3.241655
14   10.596272
15    9.461336
16    7.856174
17    7.778724
18    7.461900
19    6.978780
20    6.775556
21    6.891266
22    6.756718
23    6.068502
24    2.340188
25    8.570085
26    3.134189
27    5.414843
28    5.147235
29    1.764572
30    2.226200
31    2.185466
32    2.915912
33    4.372019
34    4.346643
35    4.181221
36    5.331109
37    5.552093
38    3.550165
39    3.290646
40    6.587846
41    3.760281
42    8.497585
43    5.241316
44    5.456388
45    6.386106
46    7.410228
47    7.996254
48    8.256306
49    6.795383
  Country  Year  internet_users  rnd_expenditure  hightech_exports  gdp_growth
0  Brazil  2010          40.650          1.15992         12.590147    7.528226
1  Brazil  2011          45.690          1.13966         11.140908    3.974423
2  Brazil  2012          48.560          1.12684         11.887221    1.921176
3  Brazil  2013          51.040          1.19567         11.969862    3.004823
4  Brazil  2014          54.551          1.26971         12.371169    0.503956

In [11]:
## Here we will normalize the data by using "simple feature scaling" - [0,1]
df["internet_users_normalized"] = df["internet_users"]/df["internet_users"].max()
print(df["internet_users_normalized"])

0      0.448675
1      0.504305
2      0.535982
3      0.563355
4      0.602108
         ...
149    0.757854
150    0.775938
151    0.819095
152    0.867439
153    0.861810
Name: internet_users_normalized, Length: 154, dtype: float64

In [22]:
df["rnd_expenditure_normalized"] = df["rnd_expenditure"]/df["rnd_expenditure"].max()
print(df["rnd_expenditure_normalized"])

0      0.453948
1      0.446019
2      0.441002
3      0.467940
4      0.496916
         ...
149    0.163010
150         NaN
151    0.166305
152         NaN
153         NaN
Name: rnd_expenditure_normalized, Length: 154, dtype: float64

In [24]:
df["hightech_exports_normalized"] = df["hightech_exports"]/df["hightech_exports"].max()
print(df["hightech_exports_normalized"])

0      0.187786
1      0.166170
2      0.177302
3      0.178534
4      0.184520
         ...
149    0.603078
150    0.622568
151    0.619578
152    0.636723
153         NaN
Name: hightech_exports_normalized, Length: 154, dtype: float64

In [25]:
df["gdp_growth_normalized"] = df["gdp_growth"]/df["gdp_growth"].max()
print(df["gdp_growth_normalized"])

0      0.658096
1      0.347433
2      0.167944
3      0.262673
4      0.044054
         ...
149    0.643326
150    0.250486
151    0.223240
152    0.746324
153    0.442770
Name: gdp_growth_normalized, Length: 154, dtype: float64

So now we have the normalized values

We will continue with constructing the TEI score formula. However before, let's see all the countries's new values on the categories.

In [26]:
print(df[["Country", "internet_users_normalized", "rnd_expenditure_normalized", "hightech_exports_normalized", "gdp_growth_normalized"]])

      Country  internet_users_normalized  rnd_expenditure_normalized  \
0      Brazil                   0.448675                    0.453948
1      Brazil                   0.504305                    0.446019
2      Brazil                   0.535982                    0.441002
3      Brazil                   0.563355                    0.467940
4      Brazil                   0.602108                    0.496916
..        ...                        ...                         ...
149  Viet Nam                   0.757854                    0.163010
150  Viet Nam                   0.775938                         NaN
151  Viet Nam                   0.819095                    0.166305
152  Viet Nam                   0.867439                         NaN
153  Viet Nam                   0.861810                         NaN

     hightech_exports_normalized  gdp_growth_normalized
0                       0.187786               0.658096
1                       0.166170               0.347433
2                       0.177302               0.167944
3                       0.178534               0.262673
4                       0.184520               0.044054
..                           ...                    ...
149                     0.603078               0.643326
150                     0.622568               0.250486
151                     0.619578               0.223240
152                     0.636723               0.746324
153                          NaN               0.442770

[154 rows x 5 columns]

In [27]:
print(df.columns)

Index(['Country', 'Year', 'internet_users', 'rnd_expenditure',
       'hightech_exports', 'gdp_growth', 'internet_users_normalized',
       'rnd_expenditure_normalized', 'hightech_export_normalized',
       'hightech_exports_normalized', 'gdp_growth_normalized'],
      dtype='object')

So now we will construct the formula. It will be simple. We will use "Equal Weighting" where all indicators will be considered equally important.
As we indicated before Tech indicator (shown with T) will be the average of the normalized values of Internet users, R&D expenditure, and High-Tech Exports. Economy indicator (shown with E) will be equal to the normalized value of GDP Growth for this project, and for now :)

In [29]:
# T indicator
tech_cols = ["internet_users_normalized", "rnd_expenditure_normalized", "hightech_exports_normalized"]
df["T"] = df[tech_cols].mean(axis=1)
print(df["T"])

0      0.363470
1      0.372165
2      0.384762
3      0.403277
4      0.427848
         ...
149    0.507981
150    0.699253
151    0.534993
152    0.752081
153    0.861810
Name: T, Length: 154, dtype: float64

In [30]:
# E indicator 
econ_cols = ["gdp_growth_normalized"]
df["E"] = df[econ_cols].mean(axis=1)
print(df["E"])

0      0.658096
1      0.347433
2      0.167944
3      0.262673
4      0.044054
         ...
149    0.643326
150    0.250486
151    0.223240
152    0.746324
153    0.442770
Name: E, Length: 154, dtype: float64

In [32]:
print(df[["Country", "Year", "T"]].sort_values(by="T", ascending=False))
# Let's check it out!

              Country  Year         T
97        Philippines  2023  0.939411
96        Philippines  2022  0.911836
153          Viet Nam  2023  0.861810
95        Philippines  2021  0.848220
94        Philippines  2020  0.796716
..                ...   ...       ...
53              India  2021  0.152324
56          Indonesia  2010  0.152082
57          Indonesia  2011  0.148441
28   Egypt, Arab Rep.  2010  0.140754
59          Indonesia  2013  0.114124

[154 rows x 3 columns]

In [34]:
# Equal weighting
df["TEI"] = (df["E"] + df["T"]) / 2
print(df[["Country", "Year", "TEI"]].sort_values(by="TEI", ascending=False))

          Country  Year       TEI
96    Philippines  2022  0.787272
137       Turkiye  2021  0.749375
152      Viet Nam  2022  0.749203
25          China  2021  0.742767
14          China  2010  0.717949
..            ...   ...       ...
122      Thailand  2020  0.034124
94    Philippines  2020 -0.017673
108  South Africa  2020 -0.083709
52          India  2020 -0.103153
80         Mexico  2020 -0.161125

[154 rows x 3 columns]